SIMPLE_KOMGA_IMAGE=jdk1107/simple-komga
SIMPLE_KOMGA_VERSION=1.0.14
SIMPLE_KOMGA_BIND=127.0.0.1:80
KOMGA_IMAGE=gotson/komga:latest
KOMGA_BIND=127.0.0.1:25600
KOMGA_CONFIG_PATH=./data/komga/config
COMICS_PATH=./data/comics
TZ=Asia/Seoul
